/* settings style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white:#FFFFFF;
    --warna-utama:#FBB45E;
    --secondary:#5EB4FB;
    --button:#B45EFB;
    --font:'Poppins', sans-serif;
}

@font-face {
    font-family: 'Poppins';
    src:url('./src/font/Poppins-Medium.ttf') format('truetype');

    font-style: normal;
}



/* navbar styling start */
.navbar{
    background-color: var(--white);
    padding: 10px 20px;
    font-family: var(--font);
    box-shadow: 2px 4px rgba(0, 0, 0, 0.1);
}

.container-nav ul{
    list-style: none;
    display: flex;
    gap: 24px;
}

.container-nav ul li{
    display: inline-block;
}

.container-nav ul li a{
    text-decoration: none;
    color: var(--warna-utama);
    font-size: 16px;
    transition: color 0.3s ease;
    padding: 10px;
}

.container-nav ul li a:hover{
    color: var(--white);
    background-color: #FBB45E;
    padding: 10px;
    border-radius: 24px;
}

.container-nav{
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.container-nav img{
    height: 59px;
}
/* styling nav end */

/* styling content */
.content{
    font-family: var(--font);
    margin: auto;
    padding: 100px;
}
.img-content{
    width: 400px;
    height: 400px;
}

.c-1{
    width: 200px;
    height: 200px;
    background-color: var(--warna-utama);
    border-radius: 100%;
    position: absolute;
    z-index: -99;
    top: 300px;
    left: 500px;
    background: rgba(251, 180, 94, 0.75);
}

.c-2{
    width: 200px;
    height: 200px;
    background-color: rgba(252, 199, 134, 0.25);
    border-radius: 100%;
    position: absolute;
    z-index: -99;
    top: 300px;
    left: 300px;
}



.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1176px;
    gap: 80px;
}

.btn-landing{
    display: flex;
    flex-direction: column;
    width: 100%px;
    gap: 20px;
}

.btn-mulai button{
    font-size: 16px;
    width: 100%;
    background-color: var(--warna-utama);
    height: 70px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--white);
    align-self: stretch;
    border: none;
    outline: none;
    border-radius: 12px;
    box-shadow: 0px 6px 0px 0px #D39851;
    transition: color 0.4s ease;
    font-weight: 700;
}

.btn-mulai button:hover{
    background-color: #f4a648;
}


.content-item h1{
    text-align: center;
    padding-bottom: 20px;
}

.btn-regist a{
    text-decoration: none;
}
.btn-regist button{
    font-size: 16px;
    width: 100%;
    background-color: var(--white);
    height: 70px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--secondary);
    align-self: stretch;
    border-radius: 12px;
    border: 2px solid #C7C6C6;
    background: #FFF;
    box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.25);
    font-weight: 700;
}

.btn-regist button:hover{
    background-color: #e7e5e5;
}
/* conten landing page end styling */
.container{
    width: 100%;
    background-color: var(--white);
    font-family: var(--font);
}
.close-login{
    margin: 20px;
    margin-top: 10px;
}


.container-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: auto;
}

.input-box{
    background-color: #f7f7f7;
    width: 90%;
    max-width: 500px;
    border-radius: 12px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border: 3px solid #E9E9E9;;
}



.input-box input{
    border: none;
    color: #333;
    font-family: var(--font);
    width: 100%;
    background-color: #f7f7f7;
    font-size: 16px;
    outline: none;
}

.input-box img{
    width: 24px;
    cursor: pointer;
}

.primary-btn{
    width: 100%;
    max-width: 500px;
    background-color: var(--warna-utama);
    padding: 10px 20px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 6px 0px 0px #D39851;
    height: 58px;
    cursor: pointer;
    transition: color 0.5s ease;
}

.primary-btn a{
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondary-btn a{
    color: var(--secondary);
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary-btn:hover, .primary-btn a:hover{
    background-color: #D39851;
}

.secondary-btn:hover, .secondary-btn a:hover{
    background-color: #e7e5e5;
}

.secondary-btn{
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 12px;
    background-color: var(--white);
    border: 2px solid #C7C6C6;
    box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.25);
    height: 58px;
    cursor: pointer;
}

.primary-btn button{
    background-color: var(--warna-utama);
    color: var(--white);
    font-size: 16px;
    font-family: var(--font);
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.secondary-btn button{
    background-color: var(--white);
    color: var(--secondary);
    font-size: 16px;
    font-family: var(--font);
    cursor: pointer;
    width: 100%;
    height: 100%;
}


.primary-btn button, .secondary-btn button{
    border: none ;
}

.pemisah{
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    justify-content: center;
    max-width: 500px;
}

.pemisah h2{
    color: #9B9696;
}

.line{
    flex: 1;
    height: 3px;
    border-radius: 12px;
    background-color: #C7C6C6;
}

/* ini quiz ya */
.container-kuis{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #F8F1EA;
    max-width: 900px;
    padding: 30px 40px;
    border-radius: 12px;
    font-family: sans-serif;
    gap: 16px;
}

.bermain-bersama-kuis{
    color: darkgreen;
    font-family: 'Poppins';
    width: 70%;
    text-align: center;
}

.kelinci{
    width: 100%;
}

.kelinci img{
    width: 100%;
}

.content-kuis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
    /* width: 100%; */
}

.content-kuis p{
    width: 100%;
    color: #FBB45E;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.quis-btn{
    width: 200px;
    height: 36px;
    border-radius: 12px;
    border: none;
    background-color: #FBB45E;
    color: #fff;
    box-shadow: 0px 4px 0px #D39851;
    cursor: pointer;
}

.navbar-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
    border-bottom: 2px solid #D9D9D9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white);
    z-index: 1000;
}

.navbar-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.items-nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 26px;
}

.items-nav a{
    text-decoration: none;
    font-family: var(--font);
    font-size: 16px;
    color: #333;
    position: relative;
    padding-bottom: 2px;
    transition: color 0.3s ease;
}

.items-nav a:hover{
    color: var(--warna-utama);
}

.items-nav a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--warna-utama);
    transition: width 0.3s ease;
}

.items-nav a:hover::after{
    width: 100%;
}


.searchbar{
    display: flex;
    flex-direction: row;
    border: 2px solid #999898;
    padding: 0 12px;
    border-radius: 12px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 277px;
    height: 39px;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.searchbar input{
    font-family: var(--font);
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 14px;
}



.container-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.daftar-buku{
    font-family: var(--font);
    padding-top: 20px;
    padding-left: 40px;
    font-size: 36px;
    margin-top: 80px;
}

.list-buku{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.last-read{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:  0 20px;
}

.container-body{
    height: 950px;
}

.card-list{
    display: flex;
    flex-direction: column;
    width: 217px;
    align-items: flex-start;
    font-family: var(--font);
    padding: 12px;
    gap: 12px;
    background-color: var(--warna-utama);
    border-radius: 12px;
}

.card-list img{
    width: 100%;
    height: 219px;
    align-self: stretch;
    border-radius: 12px;
}

.keterangan h3{
    color: #FFF;
    text-align: center;
    font-family: var(--font);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: start;
}

.keterangan h4{
    color: #FFF;
    font-family: var(--font     );
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.last-read{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    flex-wrap: wrap;
}

.end-read{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    justify-content: start;
    padding: 0 20px;
}

.container-judul{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 0 20px;
    font-family: var(--font);
    color: var(--warna-utama);
    padding-top: 20px;
}

.container-judul h2{
    font-weight: 200;
    font-size: 20px;
}

.background{
    width: 100%;
    height: 380px;
    background-color: #FF9E2A;
}

.container-buku{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.info{
    font-family: var(--font);
    margin-top: -150px;
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.info h3{
    font-size: 28px;
}

.info h4{
    font-weight: 200;
}

.content-buku .img-content-buku{
    margin-top: -200px;
    margin-left: 150px;
    border-radius: 12px;
    box-shadow: 5px 7px 12px 0px rgba(0, 0, 0, 0.25);
}

.rating{
    display: flex;
    flex-direction: row;
    gap: 5px;
    background-color:  rgba(255, 205, 43, 0.25);
    padding: 6px 8px;
    border-radius: 100px;
}

.share-save-read{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
    margin-left: -235px;
    align-items: center;
    justify-content: center;
    height: 52px;
}

.share-save-read a{
    text-decoration: none;
    font-family: var(--font);
    font-size: 16px;
    color: var(--warna-utama);
    width: 100%;
    height: 100%;
}

.read{
    padding: 8px 16px;
    background-color: var(--button);
    border-radius: 100px;
    display: flex;
    align-items: center;
    height: 43px;
}

.read a{
    color: var(--white);
}

.rating-star{
    width: 24px;
    height: 24px;
}

.save, .share{
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 8px 16px;
    border: 2px solid var(--warna-utama);
    border-radius: 100px;
}

.save img, .share img{
    width: 24px;
    height: 24px;
}

.main-content-buku{
    display: inline-flex;
    flex-direction: row;
    font-family: var(--font);
    justify-content: flex-start;
    width: 100%;
    margin-top: 50px;
    gap: 64px;
    height: 700px;
}

.sinopsis{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    align-items: flex-start;
    margin-left: 150px;
}

.sinopsis p{
    text-align: justify;
}

.rekomendasi{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
}

.rekomendasi h3{
    padding: 0 20px;
}

.reqbooks{
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
    flex-wrap: wrap;
}
